{% extends 'base.html' %}
{% block body %}
    <div class="container-fluid my-4">
        <h3>{{ app_name }}</h3>
    </div>
    <div id="primary-vue">
        [[ title ]]
        <br><br>
        <label for="first_name">First name:</label>
        <form id="first_name_form">
            <input type="text" id="f_name" name="f_name">
        </form>
        <br><br>
        <span v-if="processing"></span>
        <button v-else class="btn btn-primary" @click="addUser()">asdf</button>
        <br><br>
        <div v-for="user in users">
            First name: [[ user.name ]]
            <br>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        new Vue({
            el: '#primary-vue',
            delimiters: ['[[', ']]'],
            data: {
                title: 'Ozzie\'s api',
                processing: false,
                users: {{ users | safe }}
            },
            methods: {
                addUser() {
                    this.processing = true;
                    let vue_this = this;
                    $.ajax({
                        url: "{{ url_for('basicapi_bp.add_user', first_name='FIRST_NAME')}}".replace('FIRST_NAME', $("#f_name").val()),
                        method: 'post',
                        dataType: 'json',
                        success: (data) => {
                            document.getElementById("first_name_form").reset();
                            vue_this.users = data;
                            vue_this.processing = false;
                        },
                        error: () => {
                            document.getElementById("first_name_form").reset();
                            console.log('method returned error');
                            vue_this.processing = false;
                        }
                    })
                },
                updateCurrentUsers() {

                }
            },
            computed: {
            }
        });
    </script>
{% endblock %}
